<?xml version="1.0"?>
<config>
	<modules>
		<Kmagen_HideCODCustomerGroup>
			<version>0.1.0</version>
		</Kmagen_HideCODCustomerGroup>
	</modules>
	<global>
		<models>
			<kmagen_hidecodcustomergroup>
				<class>Kmagen_HideCODCustomerGroup_Model</class>
			</kmagen_hidecodcustomergroup>
		</models>
		<helpers>
			<kmagen_hidecodcustomergroup>
				<class>Kmagen_HideCODCustomerGroup_Helper</class>
			</kmagen_hidecodcustomergroup>
		</helpers>
	</global>
	<frontend>
		<events>
			<payment_method_is_active>
				<observers>
					<kmagen_hidecodcustomergroup>
						<type>singleton</type>
						<class>kmagen_hidecodcustomergroup/observer</class>
						<method>paymentMethodIsActive</method>
					</kmagen_hidecodcustomergroup>
				</observers>
			</payment_method_is_active>
		</events>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<paymentfilter>
											<title>Hide COD for Customer Group</title>
										</paymentfilter>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>